@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  --main-background: #cdeef3;
  --secondary-background: rgba(46, 175, 204, 0.5);
  --accent-background: rgba(255, 255, 255, 0.8);
  --main-font-color: rgb(45, 50, 55);
  --secondary-font-color: rgb(81, 90, 97);
  --main-font: 'Varela Round';
  --main-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --nav-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

/* General Styling */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: var(--main-font);
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: var(--main-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 70rem;
  margin: 0 3rem;
}

/* Header Styling */
.logo {
  width: 15rem;
  height: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-background);
  padding: 10px 30px;
  border-radius: 20px;
  box-shadow: var(--main-box-shadow);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.search-bar {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--secondary-font-color);
  border: none;
  background-color: var(--accent-background);
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
}

.search-bar::placeholder {
  font-weight: 600;
}

.search-bar::target-text {
  font-weight: 700;
}

.search-bar:focus {
  box-shadow: var(--nav-box-shadow);
  transform: translate(-5px, 3px);
  transition: all 100ms 10ms linear;
}

.search-button {
  font-size: 1.1rem;
  font-weight: 900;
  background-color: var(--accent-background);
  color: var(--main-font-color);
  padding: 12px 20px;
  border-radius: 20px;
}

.search-button:hover {
  box-shadow: var(--nav-box-shadow);
  transform: translate(-5px, 3px);
  transition: all 100ms 10ms linear;
}

.search-button:active {
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.5);
  transform: translate(0, 0);
}

/* Weather Interface Styling */
.weather-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: auto;
  gap: 2rem;
}

/* Current City Weather Styling */
.weather-overview {
  background-color: var(--secondary-background);
  padding: 30px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: var(--main-box-shadow);
}

.weather-icon {
  width: 15rem;
}

.location {
  font-size: 2rem;
  font-weight: 700;
  color: var(--main-font-color);
  margin-bottom: 10px;
}

.weather-desc {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--main-font-color);
}

.temperature {
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--main-font-color);
  margin-bottom: 10px;
}

.temp-details {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--main-font-color);
}

/* Weather Details Styling */
.weather-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'wind-direction humidity wind-speed'
    'pressure sunset sunrise';
  background-color: var(--secondary-background);
  padding: 25px;
  border-radius: 20px;
  box-shadow: var(--main-box-shadow);
  gap: 20px;
}

.grid-1 {
  grid-area: wind-direction;
}

.grid-2 {
  grid-area: humidity;
}

.grid-3 {
  grid-area: wind-speed;
}

.grid-4 {
  grid-area: pressure;
}

.grid-5 {
  grid-area: sunset;
}

.grid-6 {
  grid-area: sunrise;
}

.grid-image {
  width: 6.5rem;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(172, 227, 235, 0.3);
  border-radius: 25px;
  padding: 10px 15px;
}

.image-container:hover {
  box-shadow: var(--main-box-shadow);
  transform: translate(-5px, 3px);
  transition: all 100ms 10ms linear;
}

.text-details {
  text-align: center;
  color: var(--main-font-color);
}

.data {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 10px;
}

.text-normal,
.text-mod,
.unit {
  font-size: 1.2rem;
  font-weight: 500;
}

/* Footer Styling */
.footer {
  padding: 25px;
  background-color: var(--secondary-background);
  border-radius: 20px;
  box-shadow: var(--main-box-shadow);
}

.info {
  background-color: rgba(172, 227, 235, 0.3);
  border-radius: 25px;
  padding: 12px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info:hover {
  box-shadow: var(--main-box-shadow);
  transform: translate(-5px, 3px);
  transition: all 100ms 10ms linear;
}

.time {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--main-font-color);
}

figure {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

.github,
.threads {
  width: 23px;
}

/* Media Queries */
