@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Background Colors */
  --accent-background: rgba(229, 241, 243, 0.8);
  --item-background: rgba(170, 216, 227, 0.505);
  --location-button-background: rgba(160, 95, 234, 0.62);
  --main-background: rgba(227, 253, 253, 1);
  --nav-background: rgba(255, 185, 0, 0.6);
  --search-bar-background: rgba(207, 246, 233, 0.7);
  --search-button-background: rgba(12, 199, 137, 0.7);
  --weather-details-background: rgba(26, 175, 208, 0.6);
  --weather-overview-background: rgba(20, 184, 166, 0.6);
  --heading-title-background: rgba(104, 168, 225, 0.725);

  /* Font Colors */
  --main-font-color: rgb(30, 31, 32);
  --secondary-font-color: rgb(81, 90, 97);

  /* Modal Window Colors */
  --warning-1-color: rgb(38, 55, 55);

  /* Custom Fonts */
  --logo-font: 'Montserrat Alternates';
  --main-font: 'Varela Round';

  /* Box Shadows */
  --active-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
  --item-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
  --main-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.5);

  /* Transition */
  --active-transition: all 200ms ease-in-out 50ms;

  /* Transform */
  --item-transform-hover: translate(-5px, 3px);
  --item-transform-active: translate(0, 0);

  /* Border Radius */
  --main-border-radius: 20px;

  /* Overlay */
  --main-overlay-color: rgba(55, 58, 60, 0.6);
}

/* General Styling */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: var(--main-font);
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}

/* Header Styling */
.logo-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.weatherly-logo {
  width: 5rem;
  position: relative;
}

.logo-text {
  font-family: var(--logo-font);
  font-size: 1.4rem;
  font-weight: 700;
  color: #113127;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--nav-background);
  width: 65rem;
  height: 5rem;
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-box-shadow);
  margin-top: 2rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0 25px;
}

.search-bar {
  font-size: 1rem;
  font-weight: 600;
  color: var(--secondary-font-color);
  border: none;
  background-color: var(--search-bar-background);
  padding: 10px 20px;
  border-radius: var(--main-border-radius);
  outline: none;
}

.search-bar::placeholder {
  font-weight: 600;
}

.search-bar::target-text {
  font-weight: 700;
}

.search-bar:hover,
.search-bar:focus {
  box-shadow: var(--item-box-shadow);
  transform: var(--item-transform-hover);
  transition: var(--active-transition);
}

.search-bar:hover {
  cursor: text;
}

.search-button,
.location-button {
  font-size: 1rem;
  font-weight: 900;
  color: var(--main-font-color);
  padding: 12px;
  border-radius: 25px;
}

.search-button {
  background-color: var(--search-button-background);
}

.location-button {
  background-color: var(--location-button-background);
}

.search-button:hover,
.location-button:hover {
  cursor: pointer;
  box-shadow: var(--item-box-shadow);
  transform: var(--item-transform-hover);
  transition: var(--active-transition);
}

.search-button:active {
  box-shadow: var(--active-box-shadow);
  transform: var(--item-transform-active);
}

/* Weather Interface Styling */
main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
}

.weather-container {
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: auto;
  gap: 2rem;
  width: 65rem;
}

/* Current City Weather Styling */
.weather-overview {
  background-color: var(--weather-overview-background);
  padding: 25px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: var(--main-box-shadow);
}

.weather-icon {
  width: 15rem;
}

.location {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--main-font-color);
  margin-bottom: 1.2rem;
  text-align: center;
}

.weather-desc {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--main-font-color);
  text-align: center;
}

.temperature {
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  color: var(--main-font-color);
  margin-bottom: 10px;
}

.feels-like {
  display: flex;
  align-items: center;
  background-color: var(--item-background);
  border-radius: var(--main-border-radius);
}

.feels-like-icon {
  width: 4rem;
  position: relative;
  right: 0.5rem;
}

.temp-details {
  font-size: 1rem;
  font-weight: 500;
  color: var(--main-font-color);
  position: relative;
  right: 1rem;
}

/* Weather Details Styling */
.weather-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.heading-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--heading-title-background);
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-box-shadow);
  padding: 15px;
}

.heading-text {
  align-self: flex-end;
  background-color: var(--item-background);
  width: fit-content;
  padding: 10px 20px;
  border-radius: var(--main-border-radius);
}

.heading-text h2 {
  font-size: 1rem;
  font-weight: 700;
}

.date-time {
  padding: 10px 20px;
  background-color: var(--item-background);
  border-radius: var(--main-border-radius);
  font-size: 1rem;
  font-weight: 500;
  width: fit-content;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'wind-direction humidity wind-speed'
    'pressure sunset sunrise';
  background-color: var(--weather-details-background);
  padding: 25px;
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-box-shadow);
  gap: 2rem;
}

.grid-1 {
  grid-area: wind-direction;
}

.grid-2 {
  grid-area: humidity;
}

.grid-3 {
  grid-area: wind-speed;
}

.grid-4 {
  grid-area: pressure;
}

.grid-5 {
  grid-area: sunset;
}

.grid-6 {
  grid-area: sunrise;
}

.grid-image {
  width: 6rem;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--item-background);
  border-radius: var(--main-border-radius);
  padding: 5px 0 20px 0;
  transition: var(--active-transition);
  height: 10rem;
}

.image-container:hover {
  box-shadow: var(--item-box-shadow);
  transform: var(--item-transform-hover);
}

.text-details {
  text-align: center;
  color: var(--main-font-color);
}

.data {
  font-size: 1.75rem;
  font-weight: 600;
  margin-top: 10px;
}

.text-normal,
.text-mod,
.unit {
  font-size: 1rem;
  font-weight: 500;
}

/* Loading Dot Styling */
.loading-dot {
  width: 4.5rem;
}

.loading-dot-text {
  width: 2rem;
}

/* Modal Window Styling */
.msg {
  position: fixed;
  z-index: 2;
  height: 4.5rem;
  top: 10rem;
  width: auto;
  border-radius: var(--main-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100rem);
  transition: transform 300ms ease-in-out;
}

.warning-1,
.warning-2 {
  color: #fff;
  background-color: var(--warning-1-color);
  font-size: 1rem;
  font-weight: 600;
}

.warning-1-text,
.warning-2-text {
  padding-right: 20px;
}

.msg-active {
  transform: translateY(-5rem);
}

.warning-image {
  width: 4rem;
}

.overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--main-overlay-color);
  transition: opacity 300ms ease-in-out;
  backdrop-filter: blur(0.2rem);
}

.overlay-active {
  z-index: 1;
  opacity: 1;
}

/* Five Day Forecast Styling */
.five-day-forecast-button {
  width: 2.5rem;
  height: 2.5rem;
  padding: 3px;
  border: none;
  border-radius: 50px;
  box-shadow: var(--item-box-shadow);
  background-color: rgba(237, 76, 111, 0.667);
  align-self: center;
  transition: width 0.1s linear 0.2s;
}

.five-day-forecast-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-font-color);
}

.hide-arrow-down-icon {
  opacity: 0;
}

.rotate-arrow-down-icon {
  transform: rotate(180deg);
}

.arrow-down-icon {
  z-index: 1;
  transition: all 0.1s linear 0.2s;
}

.button-text {
  text-align: center;
  opacity: 0;
  transition: all 0.1s linear 0.2s;
  font-size: 1rem;
  font-weight: 600;
  position: absolute;
  width: 100%;
}

.five-day-forecast-button a:hover {
  cursor: pointer;
  transition: all linear;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.five-day-forecast {
  width: 65rem;
}

/* Five Day Forecast Card */
.forecast-item-container {
  transform: translateY(-10rem);
  display: none;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.show-forecast-item-container {
  display: flex;
  transform: translateY(0);
  transition: transform 0.2s linear;
}

.forecast-item {
  width: 10rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 30px 15px;
  background-color: rgba(117, 139, 216, 0.6);
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-box-shadow);
}

.forecast-item h3 {
  font-size: 1.2rem;
}

.forecast-item h4 {
  font-weight: 500;
}

.forecast-item img {
  width: 8rem;
}

.forecast-temp {
  font-size: 1.3rem;
  font-weight: 700;
}

/* Footer Styling */
footer {
  width: 100%;
  background-color: rgba(213, 233, 237, 0.608);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-container {
  width: 65rem;
  padding-top: 20px;
  padding-bottom: 10px;
}

.footer-logo-text {
  font-family: var(--logo-font);
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.footer-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  font-size: 15px;
}

.open-weather {
  width: 130px;
}

.tech-stack,
.weather-api {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}

.tech-stack-image,
.social-logos a img {
  width: 1.3rem;
}

.social h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.social-logos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  width: fit-content;
}

.social-logos a {
  display: flex;
  align-items: center;
  background-color: rgba(131, 174, 177, 0.335);
  border-radius: 10px;
  padding: 8px;
}

.social-logos a:hover {
  cursor: pointer;
  box-shadow: var(--active-box-shadow);
  transform: var(--item-transform-hover);
  transition: var(--active-transition);
}

.contact {
  width: 25rem;
}

.contact h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.name-input,
.email-input,
.message-input {
  border: none;
  outline: none;
  background-color: rgba(112, 154, 158, 0.335);
  color: var(--main-font-color);
  font-size: 15px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 10px;
}

.message-input {
  height: 6rem;
}

::-webkit-resizer {
  display: none;
}

.submit-button:hover {
  box-shadow: var(--active-box-shadow);
  transform: var(--item-transform-hover);
  transition: var(--active-transition);
}

.submit-button {
  border: none;
  background-color: var(--search-button-background);
  font-size: 15px;
  font-weight: 600;
  padding: 10px 0;
  border-radius: var(--main-border-radius);
  cursor: pointer;
}

.copyright {
  width: 65rem;
  border-top: 1px solid rgb(200, 206, 213);
  text-align: center;
  padding-top: 15px;
  font-size: 13px;
  margin-bottom: 10px;
}

.copyright > p {
  margin-bottom: 5px;
}

.dev {
  font-weight: 600;
}

.report-bug {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: rgba(240, 180, 74, 0.667);
  width: fit-content;
  padding: 5px 8px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 10px;
  color: inherit;
}

.report-bug:hover {
  cursor: pointer;
  transform: var(--item-transform-hover);
  box-shadow: var(--item-box-shadow);
  transition: var(--active-transition);
}

.report-bug-text {
  margin: 0;
}

.report-bug-image {
  width: 0.8rem;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
  header,
  .weather-container,
  .five-day-forecast,
  .footer-container,
  .copyright {
    width: 60rem;
  }

  /* Weather Overview Styling */
  .weather-overview {
    padding: 20px;
  }

  .weather-icon {
    width: 12rem;
  }

  /* Five Day Forecast Styling */
  .forecast-item {
    padding: 30px 5px;
  }
}

@media screen and (max-width: 768px) {
  header,
  .weather-container,
  .five-day-forecast,
  .footer-container,
  .copyright {
    width: 45rem;
  }

  /* Weather Overview Styling */
  .weather-container {
    display: flex;
    flex-direction: column;
  }

  .weather-overview {
    display: grid;
    grid-template-areas:
      'weather-overview-text weather-icon'
      'weather-overview-temp weather-icon';
    justify-content: space-around;
    height: fit-content;
    padding: 0;
  }

  .overview-item-1 {
    grid-area: weather-overview-text;
  }

  .overview-icon-container {
    grid-area: weather-icon;
  }

  .overview-item-2 {
    grid-area: weather-overview-temp;
  }

  .location {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }

  .weather-desc {
    font-size: 1.25rem;
  }

  .weather-icon {
    width: 16rem;
  }

  .temperature {
    font-size: 2.7rem;
    margin: 0;
    margin-bottom: 10px;
  }

  .feels-like {
    justify-content: center;
    width: auto;
  }

  .feels-like-icon {
    width: 3rem;
  }

  .temp-details {
    position: initial;
  }

  .forecast-item-container {
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
  }

  /* Footer Styling */
  form {
    margin-bottom: 0;
  }

  .footer-item {
    display: grid;
    grid-template-areas:
      'footer-1 footer-3'
      'footer-2 footer-3';
  }

  .footer-header {
    grid-area: footer-1;
    height: auto;
    justify-content: center;
  }

  .social {
    grid-area: footer-2;
    align-self: flex-end;
  }

  .contact {
    grid-area: footer-3;
  }
}

@media (max-width: 450px) {
  header,
  .weather-container,
  .five-day-forecast,
  .footer-container,
  .copyright {
    width: 22rem;
  }

  /* Header Styling */
  header {
    display: block;
    height: fit-content;
    padding: 0 5px 20px 5px;
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }

  .logo-text {
    font-size: 1.8rem;
  }

  nav {
    justify-content: center;
    gap: 0.5rem;
    margin: 0;
  }

  .search-bar {
    width: 10rem;
  }

  /* Weather Overview Styling */
  .weather-overview {
    padding: 2.5rem 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .weather-icon {
    width: 13rem;
  }

  .temperature {
    font-size: 3.2rem;
  }

  .feels-like {
    padding: 0 15px;
  }

  /* Heading Today Overview Styling */
  .heading-container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
  }

  .heading-text {
    align-self: center;
    background-color: initial;
  }

  .heading-text h2 {
    font-size: 1.2rem;
  }

  /* Weather Details Styling */
  .grid-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .image-container {
    width: 8.9rem;
  }

  .data {
    font-size: 1.4rem;
  }

  /* Warning & Error Messages Styling */
  .msg {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 17rem;
    padding: 0 15px 15px 15px;
    align-items: flex-start;
    transform: translateY(-200rem);
  }

  .warning-1-text,
  .warning-2-text {
    padding-right: 0;
    text-align: center;
    line-height: 1.5;
  }

  .warning-image {
    width: 8rem;
    align-self: center;
  }

  .msg-active {
    transform: translateY(50%);
  }

  .forecast-item-container {
    justify-content: center;
  }

  .forecast-item {
    width: 9.2rem;
  }

  /* Footer Styling */
  .footer-item {
    display: block;
  }

  .footer-logo-text,
  .contact h3 {
    text-align: center;
  }

  .footer-header {
    gap: 10px;
  }

  .footer-header,
  .social {
    margin-bottom: 3rem;
  }

  .footer-header {
    align-items: center;
  }

  .footer-header,
  .social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact {
    width: auto;
  }
}

@media screen and (max-width: 390px) {
  header,
  .weather-container,
  .five-day-forecast,
  .footer-container,
  .copyright {
    width: 20rem;
  }

  .weatherly-logo {
    width: 4rem;
  }

  .logo-text {
    font-size: 1.5rem;
  }

  .weather-icon {
    width: 12rem;
  }

  .temperature {
    font-size: 2.6rem;
  }

  .text-mod {
    font-size: 15px;
  }

  .msg-active {
    transform: translateY(50%);
  }

  .heading-container,
  .grid-container {
    padding: 15px;
  }

  .image-container {
    width: 8.5rem;
    justify-content: center;
    gap: 0.1rem;
  }

  .grid-image {
    width: 6rem;
  }

  .data {
    font-size: 1.3rem;
  }

  .forecast-item {
    width: 8.2rem;
  }

  .forecast-item img {
    width: 7rem;
  }
}
